gradio==5.1.0
torch==2.1.1
torchaudio==2.1.1
faster-whisper==1.0.1
coqui-tts[languages]==0.24.1
pypinyin
hangul_romanize
langid
noisereduce
pedalboard
pydub
ffmpeg-python
soundfile
cutlet
fugashi[unidic-lite]
loguru
omegaconf==2.3.0
resampy==0.4.2
tabulate==0.8.10
requests
faiss-cpu
pyworld
torchcrepe
praat-parselmouth>=0.4.2
translators
spacy>=3.2.0
transformers==4.36.2
deepl
requests
pysubs2
whisperx
silero-tts
