gradio==4.43.0
torch==2.1.1
torchaudio==2.1.1
faster-whisper==1.0.1
coqui-tts[languages]==0.24.2
pypinyin==0.44.0
hangul_romanize==0.0.5
langid==1.1.6
noisereduce==1.0.1
pedalboard==0.6.0
pydub==0.25.1
ffmpeg-python==0.2.0
soundfile==0.10.3.post1
cutlet==0.1.0
fugashi[unidic-lite]==1.2.0
loguru==0.6.0
omegaconf==2.3.0
resampy==0.4.2
tabulate==0.8.10
requests==2.28.1
faiss-cpu==1.7.3
pyworld==0.3.0
torchcrepe==0.0.1
praat-parselmouth>=0.4.2
translators==4.0.0
spacy>=3.2.0
transformers==4.36.2
deepl==1.9.0
pysubs2==2.0.0
whisperx==3.2.0
silero-tts==0.1.0
